﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using Library_Management_System.ViewModels;
@model LoginViewModel
@{
	string errorMessage = ViewBag.Message;
}

<div class="container">
	<div class="row justify-content-center">
		<div class="col-md-4">
			<h4 class="text-center">Login Form</h4>
			<form asp-controller="Auth" asp-action="DoLogin" method="post">
				<div class="alert alert-light" role="alert">
					@errorMessage
				</div>

				<div class="form-group">
					<label asp-for="Username">Email address</label>
					<input type="email" class="form-control" asp-for="Username" aria-describedby="emailHelp">
				</div>
				<div class="form-group">
					<label asp-for="Password">Password</label>
					<input type="password" class="form-control" asp-for="Password">
				</div>

				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>
</div>