﻿@model Library_Management_System.ViewModels.BookAddModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>BookAddModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ISBN" class="control-label"></label>
                <input asp-for="ISBN" class="form-control" />
                <span asp-validation-for="ISBN" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="edition" class="control-label"></label>
                <input asp-for="edition" class="form-control" />
                <span asp-validation-for="edition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="publisher" class="control-label"></label>
                <input asp-for="publisher" class="form-control" />
                <span asp-validation-for="publisher" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="description" class="control-label"></label>
                <input asp-for="description" class="form-control" />
                <span asp-validation-for="description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="num_of_copies" class="control-label"></label>
                <input asp-for="num_of_copies" class="form-control" />
                <span asp-validation-for="num_of_copies" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="format" class="control-label"></label>
                <input asp-for="format" class="form-control" />
                <span asp-validation-for="format" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
